{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger text-center" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
         {{ form_row(registrationForm.plainPassword.second, {
            label: 'Repeated Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <div class="mt-2 text-center">
        Posiadasz już konto? <a href="{{ path('app_login') }}">Zaloguj się</a>
    </div>
{% endblock %}
