{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<form action="{{path('app_login')}}" method="POST">
		<div class="container text-center">
			<div>
				<label>Email</label>
				<input type="text" name="_username" value="{{lastUsername}}"/>
			</div>

			<div>
				<label>Password</label>
				<input type="password" name="_password"/>
			</div>

			<input type="hidden" name="_target_path" value="/todo"/>
            <br>
			<button type="submit" class="btn btn-sm btn-primary">Login</button>
		</form>

		<div class="mt-2 text-center">
			Nie masz konta?
			<a href="{{ path('app_register') }}">Zarejestruj się</a>
		</div>

	{% endblock %}
