<div>{{form_start(form)}}</div>
<div class="container text-center">

	<div>
		{{form_errors(form)}}
	</div>

	<div class="row text-center">
		<div>
			{{ form_label(form.title, "Podaj tytuł listy")}}
		</div>

		<div>
			{{form_widget(form.title, {'attr': {'style':'color:gray'}})}}
		</div>

		<div>
			<button type="submit" class="btn btn-primary">Zapisz</button>
		</div>
	</div>
</div>
{{form_end(form)}}</div></div>
