{% extends 'base.html.twig' %}

{% block title %}List
{% endblock %}

{% block body %}
	<div class="container text-center">
		<h1 class+>Lista zadań:</h1>

		{% if app.user %}
			<div>
				<a href="{{ path('app_todo_add') }}" class="btn btn-primary btn-sm" role="button">Dodaj nowy wpis</a>
			</div>
			{% else %}
		{% endif %}

		<div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nazwa</th>
						<th scope="col">Utworzono</th>
						<th scope="col">Opcje
						</th>
					</tr>
				</thead>
				<tbody>

					{% if todos|length > 0 %}

						{% for todo in todos %}
							<tr>
								<td scope="row">{{loop.index}}</td>

								<td>
									<a href="{{path('app_todo_show', {todo: todo.id})}}" class="text-decoration-none">{{todo.title}}</a>
								</td>
								<td>{{todo.created|date('d/m/Y')}}</td>
								<td>
									<a href="{{ path('app_todo_edit', { todo: todo.id }) }}" class="btn btn-primary btn-sm" role="button">Edytuj</a>
									<a href="{{ path('app_todo_edit', { todo: todo.id }) }}" class="btn btn-danger btn-sm" role="button">Usuń</a>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</tbody>
			</table>
		</div>

	{% else %}
		Puste
	{% endif %}
</div>{% endblock %}
