{% extends 'base.html.twig' %}

{% block title %}Todo -
	{{todo.title}}
{% endblock %}

{% block body %}
	<div class="text-center">
		<h5>ID:{{todo.id}}</h5>
		<h3>{{todo.title}}</h3>

		//błąd, nie znajduje
		{# {% for tasks in todo.task %}
					{{tasks.title}}
					 {% endfor %} #}
	</div>
{% endblock %}
