<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	</head>
	<body>
		{% if app.user %}
			<div class="d-flex flex-row-reverse">
				<a href="{{ path('app_logout') }}">Wyloguj się</a>
			</div>
		{% else %}
			<div class="d-flex flex-row-reverse">
				<a href="{{ path('app_login') }}">Zaloguj się</a>
			</div>
		{% endif %}

		{% for message in app.flashes('success')%}
			<div class="alert alert-success text-center" role="alert" style="color: green">{{message}}</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</body>
</html>
